{% extends 'app/base.html' %}

{% block content %}

<div class="text-center my-5">
    <div class="row">
        <div class="col-md-6 mb-4 text-center calendar">
            <img src="{{ staff_date.user.image.url }}" alt="staff image" class="img-fluid">
        </div>
    </div>

    <div class="col-md-6 mb-5">
        <div class="card">
            <div class="card-body px-2 py-1">
                <div class="p-4 text-left">
                    <h3>
                        {{ staff_data.user.first_name }} {{ staff_data.user.last_name }}
                    </h3>
                    <hr>
                    <p>店舗:{{ staff_data.store.name }}</p>
                    <p>{{ staff_data.user.description|linebreaksbr }}</p>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}